// colors descriptive variables
$darkgrey: #595F6F;
$blue: #0E7DC2;
$lightblue: #00B5EF;
$green: #0bb14e;
$red: #ed1849;
$orange: #f78d28;
$grey: #9C9C9C;
$lightgrey: #DDDFE7;

// colors functional variables
$text-color: $darkgrey;
$link-color: $blue;
$primary-color: $blue;
$secondary-color: $lightblue;
$grey-color: $grey;
$success-color: $green;
$warning-color: $orange;
$danger-color: $red;
$secondary-grey-color: $lightgrey;