@import "includes/fonts";
@import "includes/colors";
@import "includes/mixins";
@import "includes/functions";
@import "includes/variables";

body {
    color: $text-color;
    background: #FFF;
    font-family: $font-stack;
    font-size: $default-font-size * 1px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}

a {
    transition: color, background-color, opacity 0.3s ease;
    text-decoration: none;
    color: $link-color;
    @include transition;

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        color: rgba( $primary-color, .8);
    }

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}